# Google cache
upstream google_bucket {
    # Add all different availability zones here
    # Add other zones as down so nginx only uses them when the primary isn't available
    server 'storage.googleapis.com:443';

    keepalive 2;
}

# Use cache for images from Google Bucket
proxy_cache_path /tmp/nginx/pagespeed/images/ levels=1:2 keys_zone=google_cache:100m max_size=512m inactive=168h use_temp_path=on;